<!DOCTYPE html>
<html>
<head>
  <title>SeoEntity</title>
  <%= stylesheet_link_tag    "seo_entity/application", media: "all" %>
  <%= javascript_include_tag "seo_entity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
